<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>フォーム</title>
</head>
<body>
	<div>
		<div>
		    <form action="list" method="get">
		        <input type="text" name="x" id="x" placeholder="x">
		        <input type="text" name="y" id="y" placeholder="y">
		        <button type="submit">検索</button>
		    </form>
		</div>
	</div>
</body>
</html>
